.empresa-card {
  padding: 1.2rem;
  margin: 0.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  flex: 1 1 300px;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.9);
  word-wrap: break-word;
  transition: transform 0.3s ease;
}

.empresa-card:hover {
  transform: scale(1.02);
}

.empresa-card h1 {
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
  color: #000000;
  text-align: center;
}

.empresa-card h2 {
  font-size: 1.5rem;
  color: #272323;
  margin: 0.5rem 0 0.2rem;
}

.empresa-card span {
  font-size: 1.5rem;
  font-weight: 600;
  color: #1b1b1b;
}
